
/** HEADER **/
/* Цвет поля */
#header-nav {
  background-color: #8d8d8d;
  border-radius: 0;
  border: 0;
}


/* рег полож по выс назв рест */
.navbar-brand {
  padding-top: 16px;
}
/* Красивый текст */
.navbar-brand h1 { /* Restaurant name */
  /* font-family: 'Lora', serif; */
  /* цвет текста назв рестор */
  color: #222;
  font-size: 1.8em;
  /* text-transform: uppercase; */
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}



/* рег цвета меню */
#nav-list 
/*отступ сверху*/
{
  margin-top: 5px;
  /* цвет строк меню */
  background: blue;
}
#nav-list a {
  /* цвет текста менюшек */
  color: white;
  text-align: center;
}
/* цвет строк менюшек */
#nav-list a:hover {
  /* подсветка строк меню */
  background: yellow;
}
/* Высота значков менюшек */
#nav-list a span {
  font-size: 1.5em;
}

body {font-size: 25px;
  color: black;
  background-color: #ebebeb;
  font-family: 'Oxygen', sans-serif;
  text-indent: 20px;
}
/* div#container{
  position: relative;
}*/

 #block1 {
  position: relative;
  top: 20px;
  background-color: #ebebeb;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
}
